.header-comp {
    margin-top: 0;
}


.hamburger_container {
    display: none;
}


.btn-getstarted {
    cursor: pointer;
}



.landing-container {
    width: 70%;
    padding-top: 50px;

    @media (max-width: 768px) {
        width: 100%;
        padding-top: 20px;
    }
}

.landing-container > p {
    font-size: 18px;
    
    @media (max-width: 768px) {
        font-size: 15px;
        margin-top: 30px;
    }
}

.icon-box > h3 > a {
    font-size: 14px;
}

.service-item > a > h3 {
    font-size: 18px !important;
}


.portfolio .portfolio-item {
    cursor: pointer;
}

.cart-icon {
    font-size: 20px;
}













/* ================================ RESPONSIVE =========================================================== */
/* ================================ RESPONSIVE =========================================================== */
/* ================================ RESPONSIVE =========================================================== */
/* ================================ RESPONSIVE =========================================================== */

@media (max-width: 1199px) {
    .hamburger_container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        z-index: 100;
    }

    .hamburger_container.is-active {
        height: 50px;
        width: 90%;
        margin: 0 auto;
    }
    
    .hamburger {
        position: relative;
        display: block;
        width: 35px;
        cursor: pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
        margin: 0;
        padding: 0;
    }
    
    
    
    .hamburger .bar, .hamburger:after, .hamburger:before {
        content: '';
        display: block;
        width: 24px;
        height: 2px;
        background-color: #FFF;
        margin: 6px 0px;
        transition: 0.4s;
        z-index: 999;
        overflow-x: hidden;
        border-style: solid;
        border-width: 1px;
        border-color: #00000000;
        border-radius: 5px;
    }    
    
    

    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-7px, 5px);
    }

    .hamburger.is-active:after {
        transform: rotate(45deg) translate(-6px, -4px);
    }

    .hamburger.is-active .bar {
        opacity: 0;
    }

    .Mobile-panel.is-active {
        display: block;
    } 
}
